#heading{
    text-align: center;
    margin-top: 0px;
    font-size: 50px;
    color: rgb(0, 235, 223);
    font-weight: bold;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.5);
}
#container{
    width: 600px;
    height: 800px;
    margin: 50px auto;
    box-shadow: 0 0 20px black;
    background-color: rgb(255, 254, 254);
   z-index: 3;
   
}
#background{
    position: absolute;
    z-index: 10;
    opacity: 0.5;
    border-radius: 0;
}
#btn1{
   
    padding: 5px;
    margin-left: 200px;
    margin-top: 100px;
    color: rgb(247, 255, 252);
    font-size: 20px;
    border-radius: 18px;
    background: rgba(0, 204, 204, 0.5);
    box-shadow: 0 5px 15px rgba(41, 51, 51, 0.1);
    border: none;
    padding: 8px;
}
#chat{

    
    position: absolute;
    z-index: 20;

}
#bot{
    position: absolute;
    z-index: 20;
    margin-left: 295px;
}
button{
    
    padding: 5px 6px;
    background: rgba(203, 243, 255, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    z-index: 5;
    color: rgb(75, 91, 105);
    font-weight: bold;

}
p{
    margin-left: 50px;
    color: rgb(35, 64, 126);
    font-size: 20px;
}
img{
    border-radius: 50%;
}
#songimg{
    margin-left: 50px;
}
#songbtn{
    margin-left: 50px;
}